---
# tasks file for ansible-role-java

- name: Linux/Unix | Include OS specific variables.
  ansible.builtin.include_vars: "{{ lookup('ansible.builtin.first_found', params) }}"
  vars:
    params:
      files:
        - "{{ ansible_distribution }}.yml"
        - main.yml
      paths:
        - 'vars'

- name: Install openjdk
  ansible.builtin.include_tasks: "openjdk/setup-{{ ansible_system }}.yml"
