name: molecule

on:
  push:
  pull_request:
  schedule:
    - cron: '0 18 * * sun'

jobs:
  test:
    name: ${{ matrix.molecule.image }} java ${{ matrix.molecule.java_version }}
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        molecule:
          - {image: "centos:8", java_version: "latest"}
          - {image: "centos:8", java_version: "11"}
          - {image: "centos:8", java_version: "8"}
          - {image: "centos:7", java_version: "latest"}
          - {image: "centos:7", java_version: "8"}
          - {image: "centos:7", java_version: "7"}
          - {image: "centos:6", java_version: "latest"}
          - {image: "centos:6", java_version: "8"}
          - {image: "centos:6", java_version: "7"}
          - {image: "centos:6", java_version: "6"}
          - {image: "fedora:33", java_version: "latest"}
          - {image: "fedora:33", java_version: "15"}
          - {image: "fedora:33", java_version: "11"}
          - {image: "fedora:33", java_version: "8"}
          - {image: "fedora:32", java_version: "latest"}
          - {image: "fedora:32", java_version: "13"}
          - {image: "fedora:32", java_version: "11"}
          - {image: "fedora:32", java_version: "8"}
          - {image: "fedora:31", java_version: "latest"}
          - {image: "fedora:31", java_version: "13"}
          - {image: "fedora:31", java_version: "11"}
          - {image: "fedora:31", java_version: "8"}
          - {image: "fedora:30", java_version: "latest"}
          - {image: "fedora:30", java_version: "12"}
          - {image: "fedora:30", java_version: "11"}
          - {image: "fedora:30", java_version: "8"}
          - {image: "fedora:29", java_version: "latest"}
          - {image: "fedora:29", java_version: "11"}
          - {image: "fedora:29", java_version: "8"}
          - {image: "fedora:28", java_version: "latest"}
          - {image: "fedora:28", java_version: "11"}
          - {image: "fedora:28", java_version: "8"}
          - {image: "fedora:27", java_version: "latest"}
          - {image: "fedora:27", java_version: "9"}
          - {image: "fedora:27", java_version: "8"}
          - {image: "fedora:26", java_version: "latest"}
          - {image: "fedora:26", java_version: "9"}
          - {image: "fedora:26", java_version: "8"}
          - {image: "ubuntu:20.04", java_version: "latest"}
          - {image: "ubuntu:20.04", java_version: "11"}
          - {image: "ubuntu:20.04", java_version: "8"}
          - {image: "ubuntu:18.04", java_version: "latest"}
          - {image: "ubuntu:18.04", java_version: "11"}
          - {image: "ubuntu:18.04", java_version: "8"}
          - {image: "ubuntu:16.04", java_version: "latest"}
          - {image: "ubuntu:16.04", java_version: "9"}
          - {image: "ubuntu:16.04", java_version: "8"}
          - {image: "ubuntu:14.04", java_version: "latest"}
          - {image: "ubuntu:14.04", java_version: "7"}
          - {image: "ubuntu:14.04", java_version: "6"}
          - {image: "ubuntu:12.04", java_version: "latest"}
          - {image: "ubuntu:12.04", java_version: "6"}
          - {image: "debian:10", java_version: "latest"}
          - {image: "debian:10", java_version: "11"}
          - {image: "debian:8", java_version: "latest"}
          - {image: "debian:8", java_version: "7"}
          - {image: "oraclelinux:8", java_version: "latest"}
          - {image: "oraclelinux:8", java_version: "11"}
          - {image: "oraclelinux:8", java_version: "8"}
          - {image: "oraclelinux:7", java_version: "latest"}
          - {image: "oraclelinux:7", java_version: "11"}
          - {image: "oraclelinux:7", java_version: "8"}
          - {image: "oraclelinux:7", java_version: "7"}
          - {image: "oraclelinux:6", java_version: "latest"}
          - {image: "oraclelinux:6", java_version: "8"}
          - {image: "oraclelinux:6", java_version: "7"}
          - {image: "oraclelinux:6", java_version: "6"}
          - {image: "amazonlinux:2", java_version: "latest"}
          - {image: "amazonlinux:2", java_version: "8"}
          - {image: "amazonlinux:2", java_version: "7"}
          - {image: "amazonlinux:1", java_version: "latest"}
          - {image: "amazonlinux:1", java_version: "8"}
          - {image: "amazonlinux:1", java_version: "7"}
          - {image: "amazonlinux:1", java_version: "6"}
          - {image: "opensuse:leap", java_version: "latest"}
          - {image: "opensuse:leap", java_version: "8"}
          - {image: "opensuse:leap", java_version: "11"}
          - {image: "opensuse:tumbleweed", java_version: "latest"}
          - {image: "opensuse:tumbleweed", java_version: "15"}
          - {image: "opensuse:tumbleweed", java_version: "14"}
          - {image: "opensuse:tumbleweed", java_version: "8"}
          - {image: "opensuse:15.1", java_version: "latest"}
          - {image: "opensuse:15.1", java_version: "11"}
          - {image: "opensuse:15.1", java_version: "10"}
          - {image: "opensuse:15.1", java_version: "8"}
          - {image: "opensuse:15", java_version: "latest"}
          - {image: "opensuse:15", java_version: "11"}
          - {image: "opensuse:15", java_version: "10"}
          - {image: "opensuse:15", java_version: "8"}
          - {image: "archlinux:latest", java_version: "latest"}
          - {image: "archlinux:latest", java_version: "14"}
          - {image: "archlinux:latest", java_version: "11"}
          - {image: "archlinux:latest", java_version: "8"}
          - {image: "archlinux:latest", java_version: "7"}
          - {image: "alpine:latest", java_version: "latest"}
          - {image: "alpine:latest", java_version: "11"}
          - {image: "alpine:latest", java_version: "10"}
          - {image: "alpine:latest", java_version: "8"}
          - {image: "alpine:latest", java_version: "7"}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Molecule
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint molecule-docker docker

      - name: Test Ansible role
        run: molecule test
        env:
          image: ansible-${{ matrix.molecule.image }}
          java_version: ${{ matrix.molecule.java_version }}

      - name: Test Ansible role with check_mode enable
        run: molecule check
        env:
          image: ansible-${{ matrix.molecule.image }}
          java_version: ${{ matrix.molecule.java_version }}
